* {
  background-color: #d6f2f5;
}

li {
  list-style-type: circle;
}

h1 {
  color: #444a96;
  text-align: center;
}

h2 {
  color: #829dba;
  text-decoration: underline;
}

h3 {
  color: #3abcd1;
  text-decoration: underline;
}

.link {
  color: #2524b8;
}

.link:hover {
  color: #7b0480;
}

.image {
  align-self: center;
}
